.dropdown-menu.top-level {
  display: block; position: static; margin-bottom: 5px; *width: 180px;
}

.dropdown-submenu{
  position:relative;
}

.dropdown-submenu > .dropdown-menu {
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  left:100%;
  margin-left:-1px;
  margin-top:-6px;
  top:0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display:block;
}

.dropdown-submenu > a:after {
  border-color:transparent;
  border-left-color:#cccccc;
  border-style:solid;
  border-width:5px 0 5px 5px;
  content:" ";
  display:block;
  float:right;
  height:0;
  margin-right:-10px;
  margin-top:5px;
  width:0;
}

.dropdown-submenu:hover > a:after {
  border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
  float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
  left:-100%;
  margin-left:10px;
}